<div class="col-sm-2 leftDrawer">
	<h2 class="logo"><small>/</small>mentionr<small>/g</small></h2>
	<div class="words">
		<h3 class="wordsTitle">WORDS</h3>
		<div class="wordItem" ng-repeat="word in words">
			<span ng-click="" class="glyphicon glyphicon-remove deletebtn"></span>
			<p class="listWord">{{word.word}}</p>
					<div class="pill">
						<span class="pillLeft leftActive">
							TOTAL
						</span>
						<span class="pillRight rightActive">
							12342
						</span>
					</div>
		</div>
	</div>
	<div class="addWordDiv">
	<form ng-submit="submit()">
	<span class="glyphicon glyphicon-search"></span>
		<input type="text" ng-model="wordToSubmit"id="addInput" placeholder="ADD NEW WORD..."></input>
	</form>
		</div>
</div>
<div class="col-sm-10 rightContainer" ui-view>
</div>
