<div class="col-sm-2 leftDrawer">
	<h2 class="logo"><small>/</small>mentionr<small>/g</small></h2>
	<div class="words">
		<h3 class="wordsTitle">WORDS</h3>
		<div class="wordItem" ng-repeat="word in user.words">
			<span ng-click="" class="glyphicon glyphicon-remove deleteBtn"></span>
			<a href="/dashboard/word/{{word._id}}"><p class="listWord">{{word.word}}</p></a>
					<div class="pill">
						<span class="pillLeft leftActive">
							TOTAL
						</span>
						<span class="pillRight rightActive">
							12342
						</span>
					</div>
		</div>
	</div>
	<div class="addWordDiv">
	<form ng-submit="submit(wordToSubmit, user._id); wordToSubmit = '';">
	<span class="glyphicon glyphicon-search"></span>
		<input type="text" ng-model="wordToSubmit"id="addInput" placeholder="ADD NEW WORD..."></input>
	</form>
		</div>
</div>
<div class="col-sm-10">
	<div class="topBar">
		<div class="leftIcon" ng-if="word">
			<span class="glyphicon glyphicon-dashboard wordIcon"></span>
			<p class="wordTitle">{{word.toUpperCase()}}</p>
		</div>
		<div class="userDetails">
			<div class="dropdown username">
			  <p class="dropdown-toggle " type="button" id="dropdownMenu1" data-toggle="dropdown">
				<img class="profilePhoto" src="./assets/images/profile.jpg"></img>
				   {{user.name}}
			    <span class="caret"></span>
			  </p>
			  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
			  	<li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a></li>
			    <li role="presentation" class="divider"></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Settings</a></li>

			  </ul>
			</div>
		</div>
	</div>
	<div class="bodyCont">
		<div class="rightContainer" ui-view>
	</div>
	</div>
</div>
